<%- include('header', {title: 'Home'}) -%>
<div id="app" class="center">
    <date class="top-left"></date>
    <weather class="top-right"></weather>
    <quote></quote>
    <news class="news down"></news>
</div>
<%- include('footer') -%>